<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!-- add parallel attribute to suite tag to run tests parallel 
add thread-count to tell parallel how many tests to run parallel
at a time
-->
<suite name="Suite" parallel="tests" thread-count="2">
   <listeners>
      <listener class-name="testCases.Listeners"/>
   </listeners>
  <!-- This parameter is available to all test methods
  within this test suite
   -->
  <parameter name="url" value="qaclickacademy.com"/>
  <parameter name="userName" value="zzmarineszz"/>
  
  <test thread-count="5" name="FirstTestModule">
  <!-- This parameter is available to all test methods within
  this test module
   -->
  <parameter name="url2" value="udemy.com"/>
    <classes>
    <!-- You can have many test cases within one test module -->
      <class name="testCases.firstTestCase"/>
      <class name="testCases.SecondDummyTest"/>
      <class name="testCases.FourthDummyTest">
      <!-- This includes the specified method only
      any other method(s) with in this test case will be ignored
       -->
      	<methods>
      		<include name="LoginAPIHomeLoan"/>
      	</methods>
      </class>
    </classes>
  </test> <!-- Test Module -->
  
  <!-- Second Test Module. You can have many -->
  <test name="CarLoanModule">
  	<classes>
  		<class name="testCases.ThirdDummyTest">
  			<!-- Excludes specified method(test) -->
  			<methods>
  				<!-- .* is a regex expression which is
  				essentially saying, exclude any test method(s)
  				that begin(s) with the word Mobile
  				 -->
  				<exclude name="Mobile.*"/>
  			</methods>
  		</class>
 	</classes>
  </test>
</suite> <!-- Suite -->
